.currentState {
  background: black;
  color: white;
}

body {
  padding-left: 110px;
/* Set a font size */
 font-size: 16px;
 font-family: 'Indie Flower', cursive;

 /* Begin The Redundancies */
 background-image:
   -webkit-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em),
   -webkit-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
 background-image:
   -moz-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em),
   -moz-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
 background-image:
   -o-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em),
   -o-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
 background-image:
   -ms-linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em),
   -ms-linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
 -webkit-background-size: 100% 2em;
 -moz-background-size: 100% 2em;

 /* In a perfect world... */
 background-image:
   linear-gradient(0deg, transparent 5em, rgba(255,0,0,.2) 0, transparent 5.1em),
   linear-gradient(rgba(0,0,255,.3) 1px, transparent 0);
 background-size: 100% 2em;
}

body:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100vh;
  background: red;
  top: 0;
  transform: translateX(-20px);
  opacity: .5;
}

h1, h2 {
  transform: translateY(5px);
}



.newTodoForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.newToDoPlus {
  font-size: 2em;
  font-weight: 600;
  cursor: pointer;
}

.newToDoPlus span {
  font-size: .5em;
  margin-right: 10px;
}

button {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: 0;
}

ul {
  position: relative;
  top: 5px;
}
li {
  list-style-type: none;
  margin-bottom: 7px;
}

input::-webkit-input-placeholder {
  font-family: 'Indie Flower', cursive;

}

.strike {
  text-decoration: line-through;
}

.checkBox {
  border: 5px solid black;
  outline: none;

}
