<form action="/books" method="POST">
  <input type="text" name="title" placeholder="Book Title">
  <input type="text" name="author" placeholder="Book Author">
  <input type="hidden" name="user" placeholder="Book Author" value="58d2e2d568be0cf1e5adbe4a">


  <button>Create</button>
</form>
